@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body{
    font-family: "Roboto", sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    background-color: steelblue;
    padding: 10px;
}
nav a {
    color: white;
    display: block;
    padding: 20px;
}
h1{
    color: steelblue;
}
img {
    width: 150px;
    height: auto;
    border: 1px steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}
p {
    padding: 10px;
}

 .box {
    margin: 1rem;
    border: 1px solid rgba(0,0,0,.1);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
 }
 /*Class Selectors*/
 aside {
    width: 20em;
    text-align: center;
    position: relative;
 }
 main img {
    /*you most likely to have other declarations here */
    float: right;
 }
 aside h2 {
    position: absolute;
    top: 10px;
    left: 70px;
    color: #fff;
 }